pkgbase = keenetic-manager
	pkgdesc = CLI for Keenetic router status, diagnostics, and client policies
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/osteotek/keenetic-manager
	arch = any
	license = MIT
	depends = bash
	depends = curl
	depends = jq
	depends = coreutils
	optdepends = fzf: searchable interactive menus
	source = keenetic-manager-1.2.0.tar.gz::https://github.com/osteotek/keenetic-manager/releases/download/v1.2.0/keenetic-manager-1.2.0.tar.gz
	sha256sums = 731d3daa1e89cd9caa4face156d6dcd429d7b7ceb9ef864520d0d112aa2d2915

pkgname = keenetic-manager
