#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:

override_dh_auto_test:
	./tests/integration.sh

override_dh_auto_install:
	install -Dm755 keenetic debian/keenetic-manager/usr/bin/keenetic
	install -Dm644 completions/keenetic.bash debian/keenetic-manager/usr/share/bash-completion/completions/keenetic
